%h1= "MURPHY WEIGH-IN #{Event.last.name}"
%table{border: 0, class: 'table table-condensed borderless', :'data-sort-name' => 'up_by', :'data-sort-order' => 'desc'}
  %tr
    %th
    %th Name
    %th{:'data-field' => 'up_by', :'data-sortable' => 'true'} Up By
  - @people.sort_by{|p| p.up_by || 0.0 }.reverse.each_with_index do |person, index|
    - up_by = person.try(:up_by)
    - positive = up_by.to_f > 0 ? 'positive' : 'negative'
    %tr
      - percentage_change = person.try(:percentage_change)
      %td= index + 1
      %td= link_to(person.name.upcase, person_path(person), class: 'btn btn-default')
      %td{class: positive}
        - text = up_by ? "(#{percentage_change}%)" : ""
        = "#{up_by} #{text}"

%div
= link_to('Check In', new_checkin_path, class: 'btn btn-default')
%div
= link_to('Create a new person', new_person_path, class: 'btn btn-default')
