%h1= "MURPHY WEIGH-IN #{Event.last.name}"
%table{border: 1, class: 'table table-striped', :'data-sort-name' => "name"}
  %tr
    %th Name
    %th Up By
    %th Percentage Change
    %th New Check In
  - @people.each do |person|
    %tr
      %td= link_to("#{person.name}", person_path(person), class: 'btn btn-default')
      %td
        - up_by = person.try(:up_by)
        - color = up_by.to_f > 0 ? 'black' : 'red'
        %font{color: color} #{up_by}
      %td
        - percentage_change = person.try(:percentage_change)
        - color = percentage_change.to_f > 0 ? 'black' : 'red'
        %font{color: color} #{person.try(:percentage_change)}
      %td= link_to('Check In', new_checkin_path(person_id: person), class: 'btn btn-default')

%br
= link_to('Create a new person', new_person_path, class: 'btn btn-default')
