%h1{class: 'text-center'}= "MURPHY WEIGH-IN #{Event.last.name}"
%h2{class: 'text-center'}= "#{Event.last.tagline}"
%table{border: 0, class: 'table table-condensed borderless'}
  %tr
    %th
    %th NAME
    %th{:'data-field' => 'up_by', :'data-sortable' => 'true', class: 'text-right'} UP BY
  - @people.sort_by{|p| p.up_by || 0.0 }.reverse.each_with_index do |person, index|
    - up_by = person.try(:up_by)
    - positive = up_by.to_f > 0 ? 'positive' : 'negative'
    %tr
      - percentage_change = person.try(:percentage_change)
      %td= index + 1
      %td= link_to(person.name.upcase, person_path(person), class: 'btn btn-default')
      %td{class: "#{positive} text-right"}
        - text = up_by ? "(#{percentage_change}%)" : ""
        = "#{up_by} #{text}"

%div
= link_to('CHECK IN', new_checkin_path, class: 'btn btn-default pull-left') unless ENV['QUIET_MODE']
%div
= link_to('NEW PERSON', new_person_path, class: 'btn btn-default pull-right') unless ENV['QUIET_MODE']
